body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#output-div {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
}

.button {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: yellow;
    font-weight: 600;
}